.description{ 
     color: chartreuse;
     text-align: center;
     font-weight: bolder;
     font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    width: 700px;
    height: auto;
     margin-left: auto;
     margin-right: auto;
    display: block;
}
.text1 .text2{
    color: chartreuse;
}
h1{
    text-align: center;
    font-size: 200px;
}
.stepss > *{
    color: darkcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.ingre > *{
    color: darkolivegreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.last{
    text-align: center;
    font-size: 25px;
}
.fun{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}